# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage and testing
coverage
*.lcov
.nyc_output
/coverage

# Dependency directories
node_modules/
.pnp
.pnp.*
/.pnpm-debug.log*
jspm_packages/
bower_components
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Snowpack
web_modules/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# ESlint/Stylelint cache
.eslintcache
.stylelintcache

# REPL history
.node_repl_history

# npm/yarn/tgz
*.tgz
.yarn-integrity
.npm

# Environment
.env
.env.*
!.env.example

# Build output
.next/
out/
dist/
build/

# Cache
.cache
.parcel-cache
.temp
.nuxt
.vuepress/dist
.svelte-kit/
.fusebox/
.docusaurus
.serverless/
.firebase/
.dynamodb/
.tern-port

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac/OS and misc
.DS_Store
*.pem

# VSCode
.vscode-test

# Vercel
.vercel

# Prisma generated
/src/generated/prisma
